/* for creating picture shadow */
#frontImg{
  box-shadow: 5px 10px 18px #888888;
}

#bookClass{
  height: 50px;
}

/* for displaying the cards in one line */
#first{
  display:flex;
  justify-content:center;
}

#second{
  display:flex;
  justify-content:center;
}

#third{
  display:flex;
  justify-content:center;
}

/* creating space between two cards */
.card{
  margin-left: 2rem;
}

/* styling the heading */
.headerClass{
  margin-left: 80px;
  margin-bottom: 2rem;
  margin-top: 7rem;
  display: flex;
  justify-content:left;

}

/* for adding animation in to the books */
.cardImg:hover{
  transition: 0.3s ease-in-out;
    transform: scale(1.1);
    
}

.cardImg{
  transition: 0.3s ease-in-out;
  width: 250px;
  height: 250px;
  padding-left: 2rem;
  padding-top: 2rem;
}

/* arrow */
#arrow{
  display: flex;
  justify-content: center;
}


/* craosel button */
/* .carousel-indicators li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #0000ff;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
  width: 48px;
  height: 48px;
  margin: 10px;
  background-color: #ffff99;
} */